# [submodule "Modules/testSubmodule"]
# 	path = Modules/testSubmodule
# 	url = https://github.com/shun2wang/testSubmodule
# 	branch = main
# [submodule "Modules/jaspDescriptives"]
# 	path = Modules/jaspDescriptives
# 	url = https://github.com/jasp-stats/jaspDescriptives
# 	branch = master